@media all and (min-device-width:280px) and (max-device-width:640px) {
    .mat-tab-header {
        display: none !important;
    }
    .mat-tab-group mat-primary {
        display: none !important;
    }
    #logo {
        height: 25px;
        width: 150px;
    }
    #mat-tab-group {
        font-size: 14px;
    }
    #tagline {
        background-color: #4b392b;
        padding: 10px 20px 10px 440px;
        font-family: Poppins-Regular;
        font-stretch: semi-expanded;
        font-size: 20px;
        letter-spacing: 1px;
    }
    #main {
        background-color: #18191c;
        width: 100%;
        padding: 10px 0px 0px 0px;
    }
    #camera_img {
        background-image: url('../assets/image.png');
        margin-left: 60px;
        height: 700px;
        position: relative;
        width: 95.3%;
        background-repeat: no-repeat;
    }
    #content_col {
        position: relative;
        background-color: #d78e54;
        height: 300px;
        width: 690px;
        left: -30px;
        top: 380px;
        padding: 20px;
    }
    #welcome {
        color: white;
        font-family: LibreBaskerville-Bold;
        font-size: 34px;
        margin-bottom: 10px;
    }
    #content_in_img {
        color: white;
        font-family: Poppins-Regular;
        font-size: 14px;
    }
    #id {
        text-align: center;
        align: center;
    }
    #how_it_works {
        font-family: LibreBaskerville-Bold;
        margin-top: 75px;
        font-size: 34px;
    }
    #how_bar {
        margin-bottom: 20px;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(to right, white, white);
        border-image-slice: 1;
        width: 50px;
        margin-top: 5px;
        display: inline-block;
    }
    #how_tag {
        font-family: Poppins-Light;
        margin-bottom: 50px;
    }
    #how_img {
        background-image: url('../assets/how it works.png');
        display: block;
        margin-left: 225px;
        height: 2100px;
        width: -webkit-fill-available;
        background-repeat: no-repeat;
    }
}


/* media query for desktop */

@media all and (min-device-width:1366px) and (max-device-width:1440px) {
    #logo {
        height: 25px;
        width: 150px;
    }
    #mat-tab-group {
        font-size: 14px;
    }
    #tagline {
        background-color: #4b392b;
        padding: 10px 20px 10px 440px;
        font-family: Poppins-Regular;
        font-stretch: semi-expanded;
        font-size: 20px;
        letter-spacing: 1px;
    }
    #main {
        background-color: #18191c;
        width: 100%;
        padding: 10px 0px 0px 0px;
    }
    #camera_img {
        background-image: url('../assets/image.png');
        margin-left: 60px;
        height: 700px;
        position: relative;
        width: 95.3%;
        background-repeat: no-repeat;
    }
    #content_col {
        position: relative;
        background-color: #d78e54;
        height: 300px;
        width: 690px;
        left: -30px;
        top: 380px;
        padding: 20px;
    }
    #welcome {
        color: white;
        font-family: LibreBaskerville-Bold;
        font-size: 34px;
        margin-bottom: 10px;
    }
    #content_in_img {
        color: white;
        font-family: Poppins-Regular;
        font-size: 14px;
    }
    #id {
        text-align: center;
        align: center;
    }
    #how_it_works {
        font-family: LibreBaskerville-Bold;
        margin-top: 75px;
        font-size: 34px;
    }
    #how_bar {
        margin-bottom: 20px;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(to right, white, white);
        border-image-slice: 1;
        width: 50px;
        margin-top: 5px;
        display: inline-block;
    }
    #how_tag {
        font-family: Poppins-Light;
        margin-bottom: 50px;
    }
    #how_img {
        background-image: url('../assets/how it works.png');
        display: block;
        margin-left: 225px;
        height: 2100px;
        width: -webkit-fill-available;
        background-repeat: no-repeat;
    }
}