@media screen and (max-width:40em) {
    .div1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        width: 100%;
        padding: 10px;
    }
}