<!-- Header Start -->

<div>
    <div class="div1" style=" text-align: center ;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    width: 100%;
    padding: 10px;">
        <img style="height:25px; width:150px;" src="../assets/logo.png">
    </div>
</div>
<!-- header over -->



<div class="vh" id="div2" style=" background-color: #4b392b; padding: 1px; font-family:Poppins-Regular;font-stretch: semi-expanded;font-size: 10px;letter-spacing: 1px; text-align: center;">
    IMMERSIVE STORYTELLING MADE EASY
</div>


<div style="background-color:#18191c">
    <img src="../assets/stych mobile images/banner image.png" style="margin-top:5px;height: 200px;width:100%;background-repeat: no-repeat;">


    <div class="row" style="  background-image:linear-gradient(to right,#ca6512 , #d78e54); height:200px;max-width:100%; padding:5px ;top:205px;margin-left: 10px;margin-right: 10px;position: absolute;">
        <div style="color:white;font-family:LibreBaskerville-Bold;font-size: 14px;margin-left: auto;margin-right: auto;margin-bottom:5px; border-bottom: 1px solid transparent; border-image: linear-gradient(to right, white , white); border-image-slice: 1;margin-top: 2px;display: inline-block;">
            Welcome to STYCH

        </div>

        <div style=" color:white; font-family:Poppins-Regular; font-size:8px;text-align: justify; margin-top: 5px;">
            We are STYCH and we exist to enable storytellers to craft immersive 360 experiences. STYCH is mobile application and online platform that enables journalists and other professionals to create immersive news experiences using 360 videos and photos. This
            eliminates the cumbersome production process and simplifies the journalistic work flow to provide a greater agency over the narrative when working with content taken from a 360 camera.We created STYCH because the current processes in immersive
            360 journalism from capture, post production to distribution are disconnected at the expense of conveying a compelling story. We are passionate about creating a world where there is a greater level of empathy between people and foreign experiences
            through achieving a true sense of co-presence and making authentic 360 storytelling more accessible to the world.
        </div>
    </div>

    <div class="vh" style="align:center;">
        <div style="font-family:LibreBaskerville-Bold; margin-top:155px;font-size: 14px; ">How it Works

        </div>
        <div style="margin-bottom:5px; border-bottom: 1px solid transparent; border-image: linear-gradient(to right, white , white); border-image-slice: 1;width:50px;margin-top: 5px;display: inline-block;"></div>


        <div class="ch " style="font-family:Poppins-Light; margin-bottom: 50px; font-size: 8px;">Using Stych you can easily create a interactive 360 story. It's that simple :)</div>
    </div>

    <img src="../assets/stych mobile images/image icon.png" style="height:1400px; width:100%;">

    <img src="../assets/stych mobile images/image.png" style="padding:10px 10px 0px 10px;height: 200px;width:100%;background-repeat: no-repeat;">
    <div style="background-image:linear-gradient(to right,#ca6512 , #d78e54); width:80%;height:10px;margin-left: auto; margin-right: auto;"></div>








    <div style="height: 250px;width: 100%; text-align: center;">
        <div style="margin-top: 25px; ">
            <span class="vh " style="font-family:LibreBaskerville-Bold; font-size: 25px; margin-bottom: 5px; width:100%; font-size:25px; ">Become a Contributor...</span>
        </div>
        <div>
            <p class="ch " style=" font-family:Poppins-Regular;margin-left:auto;margin-right:auto;text-align: justify;padding:0px 40px 0px 40px; font-size: 11px;">
                "Interested in being of our contributors ? We are currently looking for journalists, media companies, storytellers and any other news enthusiasts to give us feedback and test our product. If you love creating 360 stories or watching the news then you
                can help. Use the contact form below to send us a mail and we will let you know more about how you can get involved. Thanks."
            </p>
            <p class="vh " style=" font-family:Poppins-Regular; font-size: 15px;">
                <b>Team at STYCH</b>
            </p>
        </div>

    </div>





    <div style="color:white; width: 100%; height: 300px; padding: 20px; background-color:black; margin-top:20px;text-align: center; ">

        <div style="font-family:LibreBaskerville-Bold; font-size:25px; ">Contact Us</div>
        <div style="margin-bottom:20px; border-bottom: 1px solid transparent; border-image: linear-gradient(to right, white , white); border-image-slice: 1;width:80px;margin-top: 5px;margin-left: auto; margin-right: auto; "></div>
        <form [formGroup]="fg " style="background-color:black; ">

            <div *ngIf="fg.controls[ 'name'].hasError( 'required') && fg.controls[ 'name'].touched " class="alert alert-danger ">You must include a name.</div>
            <div *ngIf="fg.controls[ 'name'].hasError( 'minLength') " class="alert alert-danger ">Atleast 4 character in name requires.</div>
            <input style="font-family:Poppins-Regular;outline: none;padding: 0px 0px 0px 10px;min-width: 150px;max-width: 490px;width: 100%;height:20px;font-size:10px; color:white; border-width: 1px; bottom:15px;border-color:#d78e54 !important; margin-bottom:12px;background-color:black;"
                type="text " formControlName="name" placeholder="Name " required><br>

            <div *ngIf="fg.controls[ 'email'].hasError( 'required') && fg.controls[ 'email'].touched " class="alert alert-danger ">You must include an email.</div>
            <input style=" font-family:Poppins-Regular;outline: none;padding: 0px 0px 0px 10px;min-width: 150px;max-width: 490px;width: 100%;height:20px;font-size:10px; color:white; border-width: 1px; bottom:15px;border-color:#d78e54 !important; margin-bottom:12px; background-color:black; "
                type="text " formControlName="email" placeholder="Email" required><br>

            <div *ngIf="fg.controls[ 'message'].hasError( 'required') && fg.controls[ 'message'].touched " class="alert alert-danger ">You must have a single query to ask.</div>
            <textarea type="text " style="font-family:Poppins-Regular;outline: none;padding: 10px 0px 0px 10px; min-width: 150px;max-width: 490px;width: 100%;font-size: 10px; color:white; border-width:1px;border-color:#d78e54; margin-bottom:12px; background-color:black;"
                rows="2 " cols="50 " formControlName="message" placeholder="Message " required></textarea><br>

            <button class="gradient_button " style=" border:none;padding: 5px 20px 5px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 12px;outline:none; " (click)="send()">SEND</button>

        </form>

    </div>



    <img src="../assets/stych mobile images/map.png " style="width:100%; height:250px; ">

    <div class="vh" style="font-family:Poppins-Regular; background-color:#18191c;font-size: 12px;text-align: center; margin-top:5px;"><i class="material-icons ">email</i> hello@stychstories.co </div>

    <div style="font-family:Poppins-Regular; background-color:black;font-size: 12px;text-align: center; margin-top:5px;padding:15px;"> Terms & Condition | Privacy Policy</div>
</div>