    /* You can add global styles to this file, and also import other style files */
    
    @import "~@angular/material/prebuilt-themes/indigo-pink.css";
    html,
    body {
        height: 100%;
        background-color: #18191c !important;
    }
    
    body {
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
    
    @keyframes ui-progress-spinner-color {
        100%,
        0% {
            stroke: #d62d20;
        }
        40% {
            stroke: #0057e7;
        }
        66% {
            stroke: #008744;
        }
        80%,
        90% {
            stroke: #ffa700;
        }
    }
    /* mat toolbar header  */
    
    .mat-toolbar {
        background: black;
        color: white;
    }
    
    .mat-tab-label,
    .mat-tab-link {
        color: white;
    }
    
    .mat-tab-header {
        left: 590px;
    }
    
    .mat-ink-bar {
        background-color: gainsboro !important;
        position: top;
        margin-bottom: 46px;
    }
    
    .mat-input-element {
        caret-color: white !important;
    }
    /* google fonts  */
    
    @font-face {
        font-family: LibreBaskerville-Bold;
        src: url(./assets/LibreBaskerville-Bold.ttf) format('ttf')
    }
    
    @font-face {
        font-family: Poppins-Regular;
        src: url(./assets/Poppins-Regular.ttf) format('truetype')
    }
    
    @font-face {
        font-family: Poppins-Light;
        src: url(./assets/Poppins-Light.ttf) format('truetype')
    }
    
    @font-face {
        font-family: RAVIE;
        src: url(./assets/RAVIE.TTF) format('truetype')
    }
    
    mat-focused .mat-form-field-label {
        color: white !important;
    }
    
    .mat-focused .mat-form-field-underline .mat-form-field-ripple {
        background: white !important;
    }
    /* mat tab active  */
    
    .mat-tab-label-active {
        color: white;
        opacity: 10 !important;
    }
    
    body.ui-button {
        background-color: linear-gradient(to right, #8a5630, #d78e54) !important;
        border: 1px solid orangered !important;
    }
    /* angular material icon */
    
    .material-icons {
        font-size: 12px !important;
    }
    
    div.mat-tab-label-content {
        font-size: 13px !important;
    }
    
    .alert-danger {
        background-color: black !important;
    }
    
    .alert {
        position: unset !important;
        padding: 0px !important;
        margin-bottom: 0px !important;
        border: 0px !important;
        font-size: 10px;
    }
    /* mat figure for map image */
    
    .mat-figure {
        margin-inline-start: 0px !important;
        margin-inline-end: 0px !important;
    }
    
    .a {
        text-decoration: none !important;
        text-transform: none !important;
        text-decoration: none !important;
        border: none !important;
        border-bottom: 0px !important;
    }